<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{ base :: head }"></head>
<body>
<div th:replace="~{ base :: logo }"></div>
<div class="container">
    <div th:replace="~{ base :: titulo('Últimos Pedidos')}"></div>
    <div class="card mb-3" th:each="pedido : ${pedidos}">
        <div class="card-header alert-dark" th:text="${pedido.nomeProduto}">Nome do Produto</div>
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-md-3">
                    <img class="img-thumbnail" th:src="${pedido.urlImagemProduto}" src="">
                </div>
                <div class="col-12 col-md-9 mb-3">
                    <div class="row">
                        <div class="col-sm-5">Valor: <span th:if="${pedido.precoProduto} != null"
                                                           th:text="${'R$ ' + #numbers.formatDecimal(pedido.precoProduto,3,'POINT',2,'COMMA')}">59,99</span>
                        </div>
                        <div class="col-sm-7">Data de entrega: <span
                                th:text="${#temporals.format(pedido.dataEntregaProduto, 'dd/MM/yyyy')}">06.08.2021</span>
                        </div>
                    </div>
                    <div>Produto</div>
                    <div><a th:href="${pedido.urlProduto}">url do produto</a></div>

                    <div>Descrição</div>
                    <div>
                        <textarea class="form-control"
                                  th:text="${pedido.descricaoProduto}">Descrição do Pedido</textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>