<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{ base :: head }"></head>
<body>
<div th:replace="~{ base :: logo }"></div>
<div class="container">
    <div th:replace="~{ base :: titulo('Login')}"></div>
    <div class="card mb-3">
        <form th:action="@{/login}" class="card-body" method="post">
            <div class="form-group">
                <label for="username">User</label>
                <input name="username" class="form-control" placeholder="username"/>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input name="password" class="form-control" placeholder="password" type="password"/>
            </div>
            <button class="btn btn-primary" type="submit">Login</button>
        </form>
    </div>
</div>
</body>
</html>